<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <Link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery.min.1.8.2.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.SuperSlide.2.1.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/common_js.js}" type="text/javascript"></script>
    <script th:src="@{/js/footer.js}" type="text/javascript"></script>
    <script th:src="@{/js/cityselect.js}" type="text/javascript"></script>
    <script th:src="@{/js/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/js/laydate/laydate.js}" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>

<div>
    <table class="Inquiry_order">
        <thead>
        <tr>
            <th width="350px">车辆信息</th>
            <th width="200px">保险内容</th>
            <th width="100px">状态</th>
            <th width="200px">报价结果</th>
            <th width="150px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order_number">
            <td colspan="5"><span class="Numbering">订单号：</span>WE123456789098 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">时间：2017-2-12 11:12</span></td>
        </tr>
        <tr class="Inquiry_order_content">
            <td>
                <h4>苏A AS123</h4>
                <h5>车主：张霞</h5>
            </td>
            <td>交强险/商业险</td>
            <td>待报价</td>
            <td>暂无</td>
            <td>
                <a href="确认保单详细.html" class="btn detailed_btn mb15">查看详细</a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr class="order_number">
            <td colspan="5"><span class="Numbering">订单号：</span>WE123456789098 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">时间：2017-2-12 11:12</span></td>
        </tr>
        <tr class="Inquiry_order_content">
            <td>
                <h4>苏A AS123</h4>
                <h5>车主：张霞</h5>
            </td>
            <td>交强险/商业险</td>
            <td>待报价</td>
            <td>暂无</td>
            <td>
                <a href="#" class="btn detailed_btn mb15">查看详细</a>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr class="order_number">
            <td colspan="5"><span class="Numbering">订单号：</span>WE123456789098 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">时间：2017-2-12 11:12</span></td>
        </tr>
        <tr class="Inquiry_order_content">
            <td>
                <h4>苏A AS123</h4>
                <h5>车主：张霞</h5>
            </td>
            <td>交强险/商业险</td>
            <td>待报价</td>
            <td>暂无</td>
            <td>
                <a href="#" class="btn detailed_btn mb15">查看详细</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="right_"></div>
</div>

</body>
</html>